Cython==0.29.30
jsonargparse==4.11.0
ogb==1.3.5
matplotlib==3.3.4
plotly==5.7.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-mock==3.6.1
pytest-pythonpath==0.7.4
pytest-xdist==2.5.0
rdkit-pypi==2021.9.4
regex==2022.4.24
ruyaml==0.91.0
wandb==0.13.4
tqdm==4.64.0
numpy<1.24
examples-utils[common] @ git+https://github.com/graphcore/examples-utils@v3.2
