nbconvert==7.2.6
jupyter==1.0.0
pytest~=6.2
pytest-pythonpath==0.7.3
pytest-forked~=1.4
pytest-xdist~=2.5
regex==2022.10.31
git+https://github.com/graphcore/examples-utils@latest_stable#egg=examples-utils
