--find-links https://download.pytorch.org/whl/cpu/torch_stable.html


graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools@v0.1
examples-utils[common] @ git+https://github.com/graphcore/examples-utils.git@7cd37a8eccabe88e3741eef2c31bafd4fcd30c4c
pyyaml==5.4.1
dataclasses==0.8; python_version < '3.7'
transformers==4.25.0
datasets==2.1.0
evaluate==0.4.0
tfrecord==1.14.1
torch==2.0.1+cpu
scipy>=1.5.4
more-itertools==8.13.0
wandb==0.12.8
sklearn==0.0

pytest==6.2.5
pytest-pythonpath==0.7.4

git+ssh://git@github.com/graphcore/popxl-addons-internal.git@f3247312b789b5f4136efb6195dbd4b2feaee3dd#egg=popxl-addons

protobuf==3.20.*; python_version > '3.6'
