numpy==1.19.5
pandas==1.1.5
wandb==0.12.8
transformers==4.10.0
ftfy==6.0.3
torchvision==0.11.1
pytest==6.2.5
git+https://github.com/graphcore/examples-utils@1aded5f35073d93fedcb516ad3782082daba3f87#egg=examples-utils
