portpicker==1.3.1
pytest==6.2.5
pytest-pythonpath==0.7.4
pyyaml==5.4.1
wandb==0.12.8
pandas==1.1.4
git+https://github.com/mlcommons/logging.git@44767a7aec43ed70dfe3c37f34f27412dcac2c2d#egg=mlperf-logging
scipy==1.5.4
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-pythonpath==0.7.4
pytest-xdist==2.5.0
git+https://github.com/graphcore/examples-utils@1aded5f35073d93fedcb516ad3782082daba3f87#egg=examples-utils
