--find-links https://download.pytorch.org/whl/torch_stable.html
numpy>=1.19.5
axial_positional_embedding
einops>=0.3
youtokentome
ftfy
regex
omegaconf>=2.0.0
taming-transformers-rom1504
wandb==0.12.1
pytest==6.2.5
pytest-pythonpath>=0.7.3
torchvision==0.11.1+cpu
horovod==0.24.3
