*.tar.gz
*.zip

*.npy
*.pth
*.ark
*.bin

**/weights

**/checkpoints

**/model
**/data
**/logs
**/*ubyte*
**/exe_cache
**/tf_report_*
**/images

**/cifar-10-batches-bin

*.pyc
__pycache__
.cache
.ipu_cache

.mypy_cache

*.csv
*.json
!codeowners.json
*.log
*.so
*.lock
archive.a
vars.capnp
debug.cbor
profile.pop*
report.txt

*.onnx
*.popef
*.pvti

.DS_Store

.idea
.project
.pydevproject
.hypothesis

# Remove VIM temp files
*.swp
**/.*.sw[a-p]

# C++ examples build into the "build" directory
**/build/
.vscode

# Virtual environments
*virtualenv/
.venv/

# Jupyter notebook checkpoint
**/.ipynb_checkpoints
nohup.*
**/wandb

utils/triton_server/backends
!vision/cnns/pytorch/tests/tritonserver/models/*/*/*.json

# cppimport files
.rendered.*
