*.tar.gz
*.zip

*.npy
*.pth
*.ark
*.bin

**/weights
**/images
**/checkpoints

**/model
**/data
**/logs

*.pyc
__pycache__
.cache
*.csv
*.json
*.log
*.so
*.lock
report.txt
archive.a
vars.capnp

*.onnx
*.popef

.DS_Store

.idea
.project
.pydevproject

# Remove VIM temp files
*.swp

# C++ examples build into the "build" directory
**/build/
.vscode

# Virtual environments
*virtualenv/
.venv/

# Jupyter notebook checkpoint
**/.ipynb_checkpoints
nohup.*
**/wandb

utils/triton_server/backends
!vision/cnns/pytorch/tests/tritonserver/models/*/*/*.json

