pytest==6.2.5
pyyaml==5.4.1
librosa==0.8.1
soundfile==0.10.3.post1
matplotlib==3.3.4
tqdm==4.62.3
h5py==2.10.0
unidecode==1.3.2
inflect==5.3.0
scikit-learn==0.24.2
pyworld==0.3.0
wandb==0.12.8
dataclasses==0.8; python_version < '3.7'
git+https://github.com/graphcore/examples-utils@0863d5e6df28dacdf75d9c4aa212337f26d05c0d#egg=examples-utils

