keras==2.3.1
portpicker==1.3.1	
pytest==6.2.5
pytest-forked==1.3.0
pytest-pythonpath==0.7.4
pytest-xdist==2.1.0
git+https://github.com/graphcore/examples-utils@1aded5f35073d93fedcb516ad3782082daba3f87#egg=examples-utils
