--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
numpy==1.19.5
fire==0.4.0
pyyaml==5.4.1
pandas==1.1.5
wandb==0.12.8
protobuf==3.19.5
pillow==8.4.0
pytest==6.2.5
editdistance==0.5.2
horovod==0.24.0
torchaudio==0.10.0+cpu; python_version<='3.6'
torchaudio==0.13.0+cpu; python_version>'3.6'
git+https://github.com/graphcore/examples-utils@latest_stable