--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.19.5
fire==0.4.0
pyyaml==5.4.1
pandas==1.1.5
wandb==0.12.1
pillow==8.4.0
pytest==6.2.5
editdistance==0.5.2
horovod==0.24.0
torchaudio==0.10.0+cpu
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils

