--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
opencv-python-headless==4.6.0.66
easydict==1.9
tensorboardX==2.5
wandb==0.12.8
pycocotools==2.0.4
protobuf==3.19.5
onnx==1.11.0
tqdm==4.64.0
scipy==1.5.4
PyYAML==5.4.1
torch==1.10.0+cpu; python_version=='3.6'
torch==1.13.0+cpu; python_version>'3.6'
torchvision==0.14.0+cpu; python_version > '3.6'
torchvision==0.11.0+cpu; python_version <= '3.6'
fire==0.4.0
git+https://github.com/graphcore/examples-utils@0f3024827451878955ed495daf2e1b552eaf749f#egg=examples-utils
