--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.19.5
transformers==4.18.0
torchvision==0.11.1+cpu
pytest==6.2.4
pyyaml==5.4.1
horovod==0.24.0
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils
