--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.19.5
torch==1.10.0+cpu
scipy==1.5.4
torchvision==0.11.1+cpu
omegaconf==2.1.2
rudalle==1.0.0

python-translator
bs4
pytest
pytest-pythonpath

git+ssh://git@github.com/graphcore/popxl-addons.git@6da586a0c27e2f5c2280b481d88f349f8e04b627#egg=popxl-addons
