--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
numpy==1.19.5
torch==1.13.0+cpu
scipy==1.5.4
torchvision==0.14.0+cpu
omegaconf==2.1.2
rudalle==1.0.0

python-translator
bs4
pytest
pytest-pythonpath

git+ssh://git@github.com/graphcore/popxl-addons.git@sdk-release-3.1
