transformers==4.18.0
datasets==2.1.0
tokenizers==0.12.1
scipy==1.5.4
pyyaml==5.4.1
protobuf==3.19.4
wandb==0.12.8
pytest==6.2.5
pytest-pythonpath==0.7.4
tfrecord==1.14.1
filelock==3.4.1
mpi4py==3.1.3
horovod==0.24.0 
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils
cmake==3.22.4
tritonclient[grpc]==2.16.0
