lxml==4.8.0
absl-py~=0.10
matplotlib==3.3.4
Pillow==8.4.0
PyYAML==5.4.1
six==1.15.0
tensorflow-model-optimization==0.7.2
pytest==6.2.5
pytest-pythonpath==0.7.4
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils
