/data_for_compare/
/data/
/logs/*
*.npy
*.jpg
*.jpeg
*.pvti
*.pvti-journal
*.pth
*.o
__pycache__
build
/report/
/outputs/
/reference_data/
/gc_weights/
/debug_tmp_data/
/wandb/
/notebooks/
/engine_cache/
/deprecated_yamls/
/IPU/custom_ops/roi_align/report/