--find-links https://download.pytorch.org/whl/torch_stable.html
opencv-python
easydict
tensorboardX
wandb
pycocotools
protobuf==3.19.4
onnx==1.11.0
tqdm
scipy==1.5.4
PyYAML==5.4.1
torch==1.10.0+cpu
torchvision==0.11.1+cpu
