--find-links https://download.pytorch.org/whl/torch_stable.html
absl-py==1.0.0
protobuf==3.19.4
onnx==1.11.0
Pillow==8.4.0
torch==1.7.0+cpu
torchvision==0.8.1+cpu
urllib3==1.26.6
pretrainedmodels==0.7.4
pytest==6.2.5
pytest-pythonpath==0.7.4
git+https://github.com/graphcore/examples-utils@1aded5f35073d93fedcb516ad3782082daba3f87#egg=examples-utils
