--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
absl-py==1.0.0
protobuf==3.19.5
attrs==22.1.0
cppimport==22.8.2
dataclasses==0.6
filelock==3.0.4
future==0.18.2
iniconfig==1.1.1
Mako==1.0.4; python_version<='3.6'
Mako==1.2.4; python_version>'3.6'
MarkupSafe==2.0.1; python_version<='3.6'
MarkupSafe==2.1.1; python_version>'3.6'
munch==2.5.0
numpy==1.19.5
onnx==1.11.0
packaging==21.3
Pillow==8.4.0
pluggy==1.0.0
pretrainedmodels==0.7.4
psutil==5.9.4
py==1.11.0
pybind11==2.10.1
pyparsing==3.0.9
pytest==6.2.5
pytest-pythonpath==0.7.4
PyYAML==5.4.1
six==1.16.0
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
tqdm==4.64.1
typing_extensions==3.7.4.1
urllib3==1.26.6
