--find-links https://download.pytorch.org/whl/torch_stable.html
numba==0.53.1
numpy==1.19.5
scipy==1.5.4
librosa==0.7.2
tqdm==4.64.0
six==1.16.0
pytest==6.2.5
pytest-pythonpath==0.7.4
torch==1.10.0+cpu
torchaudio==0.10.0+cpu
git+https://github.com/graphcore/examples-utils@e60289e0744c061dcfb060131cd3fbd7ad2840e0#egg=examples-utils
