--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.11.1+cpu
timm==0.4.5
tlt==0.1.0
protobuf==3.19.4
wandb==0.12.1
transformers==4.18.0
yacs==0.1.8
pyyaml==5.4.1
horovod==0.24.3
simplejpeg==1.6.4
pytest==6.2.5
pytest-pythonpath==0.7.4
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils
