--find-links https://download.pytorch.org/whl/torch_stable.html
nltk==3.6.5
tqdm==4.53.0
wandb==0.12.8
torch==1.10.0+cpu
onnx==1.8.1
pytest==6.2.5
pytest-pythonpath==0.7.4
scipy==1.5.4
git+https://github.com/graphcore/examples-utils@0863d5e6df28dacdf75d9c4aa212337f26d05c0d#egg=examples-utils

