--find-links https://download.pytorch.org/whl/torch_stable.html
nltk==3.6.5
tqdm==4.53.0
wandb==0.12.8
torch==1.10.0+cpu
onnx==1.8.1
pytest==6.2.5
pytest-pythonpath==0.7.4
scipy==1.5.4
git+https://github.com/graphcore/examples-utils@e60289e0744c061dcfb060131cd3fbd7ad2840e0#egg=examples-utils

