pybind11==2.6.2
requests==2.27.1
tqdm==4.64.0
matplotlib==3.3.4
pandas==1.1.4
seaborn==0.11.2
pytest==6.2.5
scipy==1.5.4
jax==0.2.17
jaxlib==0.1.69
wandb==0.12.8
git+https://github.com/graphcore/examples-utils@6d3b8367d5c6d2cda5a0e7849138d0ee8a8c6756#egg=examples-utils
