!configs
!*.json
wandb/

data/
binaries.a
*.gp
*.png
custom_op/length_regulator/lengthRegulator.gp
callbacks/
predicted/
pretrained_models/
*.wav
inspecting_tensors/
.ipynb_checkpoints/
*.npy
*.h5
*.pkl
*.ipynb
*.tar.bz2
