--find-links https://download.pytorch.org/whl/torch_stable.html

numpy==1.19.5
torch==2.0.1+cpu
#examples-utils[common] @ git+https://github.com/graphcore/examples-utils.git@7cd37a8eccabe88e3741eef2c31bafd4fcd30c4c
examples-utils[common] @ git+https://github.com/graphcore/examples-utils.git@v3.3
graphcore-cloud-tools[logger]@git+https://github.com/graphcore/graphcore-cloud-tools
pyyaml==5.4.1
dataclasses
typeguard==2.13.3
scipy~=1.10.1

pytest==6.2.5
pytest-pythonpath==0.7.4

jupyter
ipywidgets

git+https://github.com/graphcore/popxl-addons.git@sdk-release-3.3.0
git+https://github.com/Aleph-Alpha/magma@4d01e5172115ab4a8f4b4bf8da76dbc08b6cf36c
