--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
numba==0.48.0; python_version < '3.9'
numba==0.56.4; python_version >= '3.9'
numpy==1.19.5
scipy==1.5.4
torchaudio==0.10.0+cpu; python_version<='3.6'
torchaudio==0.13.0+cpu; python_version>'3.6'
librosa==0.7.2; python_version < '3.9'
librosa==0.8.1; python_version >= '3.9'
nltk==3.6.5
protobuf==3.19.4
onnx==1.13.0
tqdm==4.46.1
six==1.15.0
pytest==6.2.5
pytest-pythonpath==0.7.4
git+https://github.com/graphcore/examples-utils@0f3024827451878955ed495daf2e1b552eaf749f#egg=examples-utils
