--find-links https://data.pyg.org/whl/torch-1.13.1+cpu.html

matplotlib==3.7.1
numpy==1.24.2
pandas==1.5.3
pytest==6.2.5
torch-geometric==2.2.0
torch-scatter==2.1.0+pt113cpu
torch-sparse==0.6.16+pt113cpu
tqdm==4.60.0
examples-utils[common] @ git+https://github.com/graphcore/examples-utils@v3.2
