--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

examples-utils[common] @ git+https://github.com/graphcore/examples-utils.git@7cd37a8eccabe88e3741eef2c31bafd4fcd30c4c
pyyaml==5.4.1
dataclasses==0.8; python_version < '3.7'
transformers==4.18.0
datasets==2.10.1
tfrecord==1.14.1
torch==2.0.1+cpu
numpy==1.19.5
scipy>=1.5.4
more-itertools==8.13.0
wandb==0.14.0
evaluate==0.4.0
scikit-learn==1.2.2

pytest==6.2.5
pytest-pythonpath==0.7.4

git+https://github.com/graphcore/popxl-addons.git@sdk-release-3.3.0
protobuf==3.20.*; python_version > '3.6'
