--find-links https://download.pytorch.org/whl/torch_stable.html
simple-parsing==0.0.19.post1
pyyaml==5.4.1
dataclasses==0.8; python_version < '3.7'
transformers==4.18.0
datasets==2.1.0
tfrecord==1.14.1
torch==1.10.0+cpu
numpy==1.19.5
scipy==1.5.4
more-itertools==8.13.0
wandb==0.12.8

pytest
pytest-pythonpath

git+https://github.com/graphcore/examples-utils@e60289e0744c061dcfb060131cd3fbd7ad2840e0#egg=examples-utils
git+ssh://git@github.com/graphcore/popxl-addons-internal.git@6da586a0c27e2f5c2280b481d88f349f8e04b627#egg=popxl-addons

protobuf==3.20.*; python_version > '3.6'
