# Keep data and config
!data/*
!config/*
!*.json

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
__pycache__
checkpoint
ckpt_init
mAP/ground-truth/
mAP/predicted/
mAP/results/
tf_log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
