--find-links https://download.pytorch.org/whl/torch_stable.html
cmake==3.22.4
protobuf==3.19.4
pytest==6.2.5
pytest-forked==1.3.0
pytest-pythonpath==0.7.3
pytest-xdist==2.1.0
torchvision==0.11.1+cpu
timm==0.5.4
wandb==0.12.8
pyyaml==5.4.1
checksumdir==1.2.0
horovod==0.24.3
tritonclient[grpc]==2.16.0
git+https://github.com/lilohuang/PyTurboJPEG.git@8706665787c7290397859075ae2f0bf35afeb41a
git+https://github.com/graphcore/examples-utils@9c21c9d1513a9e48772f26a9b16f2adb8ae6a29c#egg=examples-utils
