--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==1.10.0+cpu; python_version=='3.6'
torch==2.0.1+cpu; python_version>'3.6'
cmake==3.22.4
horovod==0.24.3
protobuf==3.19.5
pytest==6.2.5
pytest-forked~=1.6
pytest-pythonpath==0.7.3
pytest-xdist~=3.2
torchvision==0.15.2+cpu; python_version > '3.6'
torchvision==0.11.0+cpu; python_version <= '3.6'
timm==0.5.4
wandb==0.12.8
pyyaml==5.4.1
checksumdir==1.2.0
grpcio==1.47.2
tritonclient[grpc]==2.16.0
git+https://github.com/lilohuang/PyTurboJPEG.git@8706665787c7290397859075ae2f0bf35afeb41a
examples-utils[benchmark] @ git+https://github.com/graphcore/examples-utils@v3.4
setuptools==58.0.4
pytorch_lightning==1.9.0
torchmetrics==0.11.0
rich==13.3.1
nbconvert==7.2.9
jupyter==1.0.0
