pyyaml==5.4.1
pillow==8.4.0
matplotlib==3.3.4
pytest==6.2.5
pytest-pythonpath==0.7.4
pytest-xdist==2.5.0
pytest-forked==1.4.0
scipy==1.5.4
tensorflow-serving-api==1.15.0
wandb==0.12.8
git+https://github.com/graphcore/examples-utils@1a4ef42bfeb31ad1137db1c3c32fd21a6871bf72#egg=examples-utils
