pyyaml==5.4.1
pillow==8.4.0
matplotlib==3.3.4
pytest==6.2.5
pytest-pythonpath==0.7.4
pytest-xdist==2.5.0
pytest-forked==1.4.0
scipy==1.5.4
wandb==0.12.8
git+https://github.com/graphcore/examples-utils@e60289e0744c061dcfb060131cd3fbd7ad2840e0#egg=examples-utils
