pyyaml==5.4.1
pillow==8.4.0
matplotlib==3.3.4
pytest==6.2.5
pytest-pythonpath==0.7.4
pytest-xdist==2.5.0
pytest-forked==1.4.0
scipy==1.5.4
tensorflow-serving-api==1.15.0
wandb==0.12.8
git+https://github.com/graphcore/examples-utils@1aded5f35073d93fedcb516ad3782082daba3f87#egg=examples-utils
