simple-parsing
pyyaml
dataclasses
transformers
datasets
tfrecord
torch
numpy
scipy>=1.5.4
more-itertools
wandb

pytest
pytest-pythonpath

git+ssh://git@phabricator.sourcevertex.net/diffusion/POPXLADDONSINTERNAL/popxladdonsinternal.git@sdk-release-2.6#egg=popxl-addons
