--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

pandas
torchvision==0.15.2+cpu
transformers==4.20.1
tokenizers<0.13
optimum-graphcore
datasets
matplotlib
scikit-learn
graphcore-cloud-tools[logger] @ git+https://github.com/graphcore/graphcore-cloud-tools
