--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

numpy>=1.19.0
psutil==5.8.0
tqdm
torch==1.10.0+cpu; python_version=='3.6'
torch==2.0.1+cpu; python_version>'3.6'
torchvision==0.15.2+cpu; python_version > '3.6'
torchvision==0.11.0+cpu; python_version <= '3.6'
