--find-links https://download.pytorch.org/whl/torch_stable.html
unidecode==1.1.1
inflect==4.1.0
soundfile==0.10.3.post1
librosa==0.8.0
sox==1.4.1
sentencepiece==0.1.94
pandas==1.1.5
tqdm==4.64.0
pyyaml==5.4.1
onnx==1.11.0
protobuf==3.19.4
wandb==0.12.8
numba==0.53.1
mpi4py==3.1.3
pytest==6.2.5
torch==1.10.0+cpu
--extra-index-url https://developer.download.nvidia.com/compute/redist 
nvidia-dali-cuda110==0.28.0
git+https://github.com/graphcore/examples-utils@0863d5e6df28dacdf75d9c4aa212337f26d05c0d#egg=examples-utils
