--find-links https://download.pytorch.org/whl/torch_stable.html
numpy==1.19.5
scipy==1.5.4
tensorboard==1.15.0
torch==1.10.0+cpu
nltk==3.6.5
future==0.17.1
onnx==1.11.0
tqdm==4.45.0
protobuf==3.19.4
pytest==6.2.5
pytest-forked==1.3.0
pytest-pythonpath==0.7.4
pytest-xdist==2.1.0
pyyaml==5.4.1
wandb==0.12.8
filelock==3.0.12
numba==0.53.1
git+https://github.com/graphcore/examples-utils@e60289e0744c061dcfb060131cd3fbd7ad2840e0#egg=examples-utils


